body {
  padding: 0;
  margin: 0; }

#pc_none {
  display: none; }

#headerbg {
  width: 100%;
  min-width: 1000px;
  background: #252525;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  #headerbg p {
    position: absolute;
    top: 0px;
    left: 230px;
    cursor: pointer; }
  #headerbg #header {
    width: 940px;
    margin-left: auto;
    padding: 5px 0; }
    #headerbg #header .top_menu {
      list-style: none;
      display: inline-flex; }
      #headerbg #header .top_menu li {
        margin-right: 60px; }
        #headerbg #header .top_menu li a {
          text-decoration: none;
          color: #fff; }

.bg_black {
  background-color: #000; }

#main {
  width: 1360px;
  height: 865px;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/top.jpg) center top no-repeat; }
  #main ul.circle {
    position: absolute;
    top: 0;
    left: 509px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none; }
    #main ul.circle li:nth-of-type(1) {
      width: 693px;
      height: 693px;
      position: absolute;
      top: 86px;
      left: -7px;
      padding: 0;
      background: url(../images/ph09_1.png) 0 0 no-repeat;
      animation: poipoi 9s liner infinite;
      -webkit-animation: poipoi 9s linear infinite; }
    #main ul.circle li:nth-of-type(2) {
      width: 693px;
      height: 693px;
      position: absolute;
      top: 86px;
      left: -7px;
      padding: 0;
      background: url(../images/ph09_2.png) 0 0 no-repeat;
      animation: poipoi 13s linear infinite;
      -webkit-animation: poipoi2 13s linear infinite; }
  #main .top_logo {
    position: absolute;
    top: 500px;
    left: 400px; }

@-webkit-keyframes poipoi {
  0% {
    -webkit-transform: rotateX(0deg) rotate(0deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotate(360deg); } }
@keyframes poipoi {
  0% {
    transform: rotateX(0deg) rotate(0deg); }
  100% {
    transform: rotateX(0deg) rotate(360deg); } }
@-webkit-keyframes poipoi2 {
  0% {
    -webkit-transform: rotateX(0deg) rotate(0deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotate(-360deg); } }
@keyframes poipoi2 {
  0% {
    transform: rotateX(0deg) rotate(0deg); }
  100% {
    transform: rotateX(0deg) rotate(-360deg); } }
h1 {
  margin: 0;
  padding: 0; }

.first_box {
  background: #fff;
  padding: 120px 0; }
  .first_box h1 {
    color: #333;
    text-align: center; }
  .first_box p {
    text-align: center;
    color: #777;
    line-height: 37px;
    font-size: 18px; }

.bg_gray {
  background-color: #efefef; }

.second_box {
  padding: 90px 0 0px 0;
  max-width: 1200px;
  margin: 0 auto;
  height: 470px; }
  .second_box h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px; }
  .second_box .popo {
    width: 50%;
    float: left;
    height: 180px; }
    .second_box .popo i {
      font-size: 45px;
      color: #115a71;
      float: left;
      width: 16%;
      margin-top: 15px; }
    .second_box .popo .second_text {
      float: left;
      width: 75%; }

.third_box {
  max-width: 1200px;
  margin: 0 auto;
  height: 470px;
  padding: 120px 0;
  text-align: center; }
  .third_box h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px; }

.merit {
  float: left;
  width: 25%; }

.text-contents {
  margin: 3% auto;
  width: 80%;
  display: none;
  font-size: 15px;
  color: #777; }

.text-active {
  display: block; }

.bg_white {
  background-color: #fff; }

.fourth_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0; }
  .fourth_box h1 {
    color: #333;
    text-align: center; }
  .fourth_box .sub {
    text-align: center;
    color: #777;
    font-size: 15px;
    margin-bottom: 30px; }
  .fourth_box .box {
    margin: 0 auto 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.2); }
  .fourth_box .fourth-block {
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center; }
  .fourth_box .fourth-block:nth-child(even) {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .fourth_box .left-padding {
    padding: 0 0 0 20px; }
  .fourth_box .photo {
    width: 28%; }

.fifth_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0; }
  .fifth_box h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px; }
  .fifth_box .price {
    border-collapse: collapse;
    border-spacing: 0; }
    .fifth_box .price .price_head {
      color: #fff; }
      .fifth_box .price .price_head #price_border {
        background-color: #fff;
        border: none; }
    .fifth_box .price .week_4 {
      background-color: #5bc0de;
      border-right: 1px solid #ddd;
      padding: 0px 30px; }
    .fifth_box .price .week_8 {
      background-color: #5cb85c;
      border-right: 1px solid #ddd;
      padding: 0px 30px; }
    .fifth_box .price .week_12 {
      background-color: #f0ad4e;
      border-right: 1px solid #ddd;
      padding: 0px 30px; }
    .fifth_box .price .week_16 {
      background-color: #625fb7;
      border-right: 1px solid #ddd;
      padding: 0px 30px; }
    .fifth_box .price tr {
      height: 100px; }
    .fifth_box .price tr:nth-of-type(odd) {
      background-color: #f9f9f9; }
    .fifth_box .price th {
      width: 12%;
      text-align: center;
      border: 1px solid #ddd; }
    .fifth_box .price td {
      width: 22%;
      text-align: center;
      border: 1px solid #ddd; }
    .fifth_box .price .price_4 {
      color: #5bc0de;
      font-weight: bold;
      font-size: 23px;
      margin-left: 5px; }
    .fifth_box .price .price_8 {
      color: #5cb85c;
      font-weight: bold;
      font-size: 23px;
      margin-left: 5px; }
    .fifth_box .price .price_12 {
      color: #f0ad4e;
      font-weight: bold;
      font-size: 23px;
      margin-left: 5px; }
    .fifth_box .price .price_16 {
      color: #625fb7;
      font-weight: bold;
      font-size: 23px;
      margin-left: 5px; }
    .fifth_box .price .day {
      list-style-type: none;
      margin-left: -40px; }
    .fifth_box .price b {
      margin-right: 5px; }

.sixth_box {
  padding: 120px 0;
  max-width: 1200px;
  margin: 0 auto;
  height: 400px; }
  .sixth_box h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px; }
  .sixth_box #faq-list {
    width: 500px;
    margin: 0 auto;
    list-style: none; }
    .sixth_box #faq-list .faq-list-item {
      border-bottom: 1px solid #ccc;
      cursor: pointer; }
      .sixth_box #faq-list .faq-list-item i:nth-of-type(odd) {
        color: #5bc0de;
        margin-right: 10px; }
      .sixth_box #faq-list .faq-list-item span {
        color: #777;
        font-size: 22px;
        float: right; }
      .sixth_box #faq-list .faq-list-item .answer {
        display: none; }
        .sixth_box #faq-list .faq-list-item .answer p {
          margin: 0 0 20px 0;
          padding: 0;
          color: #777; }

.bg_blue {
  background-color: #b9efff; }

.seventh_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0; }
  .seventh_box h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px; }

.mail_form {
  background-color: #FFF;
  width: 650px;
  margin: 0px auto;
  padding: 50px 0; }
  .mail_form .formTable {
    width: 80%;
    margin: 0 auto 13px;
    border-collapse: collapse;
    text-align: left;
    line-height: 2em; }
    .mail_form .formTable th {
      font-weight: normal;
      text-align: left;
      color: #000;
      width: 200px;
      font-size: 17px;
      display: inline; }
      .mail_form .formTable th .must {
        color: #fff;
        background: #f0ad4e;
        border-radius: 5px;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 4px 6px;
        vertical-align: middle;
        margin-left: 10px; }
    .mail_form .formTable td {
      padding: 5px 0 15px;
      display: block;
      font-size: 16px;
      line-height: 1.3em; }
    .mail_form .formTable input {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      padding: 2px 6px;
      height: 40px; }

.confirm {
  border: none;
  font-size: 26px;
  border-radius: 4px;
  letter-spacing: 4px;
  width: 300px;
  padding: 12px 0px 10px;
  color: #fff;
  background: #51b7d6;
  box-shadow: 0 3px #3e8da5;
  margin-top: 30px; }

.confirm:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 2px #3e8da5; }

.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms; }

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

/*# sourceMappingURL=pc_style.css.map */
